<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    <div class="col-md-12">
          <div class="social text-center">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      Copyright &copy;
    <span class="year"></span>CodENV
</footer>